[submodule "src/NavOCR"]
	path = src/NavOCR
	url = https://github.com/kc-ml2/NavOCR.git
	branch = add-openvino
[submodule "src/textmap"]
	path = src/textmap
	url = https://github.com/kc-ml2/TextMap.git
	branch = slamtoolbox
[submodule "src/text_nav_bridge"]
	path = src/text_nav_bridge
	url = https://github.com/kc-ml2/text_nav_bridge.git
	branch = main
[submodule "src/text_nav_sim"]
	path = src/text_nav_sim
	url = https://github.com/kc-ml2/text_nav_sim.git
	branch = main
